[Unit]
Description=synchronize clipboard with primary selection using xclip

[Service]
ExecStart=$HOME/.local/bin/clipsync
Restart=on-failure
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
